/* work on font from google font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{

  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}


/* Mobile Resposive  */

@media screen and (max-width: 576px) {

    .nav-container, .nav-items-container {

         flex-direction: column;
         
      }

      .nav-logo-container {
        width: 100%;
        
      }

      .nav-items-container {

        width: 100%;


      }

      .nav-items-container a {

        margin-top: 20px;

      }


   a .follow-icon {
        width: 100%;
        padding: 20px;
    } 


    /* game type part  */

    .game {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
       
    
     }

     
 

    /* end game type part */



   /* Footer Part Mobile device */

   footer {

    max-width: 100%;
    /* padding-bottom: 70px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
   }

   .footer-des{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

  
  
  }

  .footer-des-2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;

  }

    .footer-des p, .footer-des-2 p  {

     margin-right: 0px;
     padding-top: 0%;

      
    }

    /* end footer part  */

  }


/* For Tablet  */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .nav-container, .nav-items-container {

        flex-direction: column;
        
     }

     .nav-logo-container {
       width: 100%;
      align-items: center;
       
     }

     .nav-items-container {

       width: 100%;


     }

     .nav-items-container a {

       margin-top: 20px;

     }


  a .follow-icon {
       width: 100%;
       padding: 20px;
   } 



   /* Header part  */
   .banner {

    flex-direction: column-reverse;
    width: 50%;
   }





   /* Footer Part Tablet device */

   footer {

    max-width: 100%;
    padding-bottom: 70px;
    padding-top: 10px;
    
   }

   .footer-des{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 50px;
    padding-right: 50px;
  
  }

  .footer-des-2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  



} 